.services {
    width: 100%;
    background-color: #FEF5F5;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.services-smalltitle {
    padding-top: 100px;
    color: #F54748;
    text-align: center;
}

.services-title {
    text-align: center;
}

.services-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 50px;
}

@media screen and (max-width: 900px) {
    .services-cards {
        flex-direction: column;
    }

    .services-title {
        font-size: 30px;
        line-height: 35px;
        max-width: 450px;
    }
}